<title>Curriculo, mas com tabela</title>
<table border="1">
    
   <thead>
<tr><td><h1>Gustavo Barbosa Dantas</h1></td></tr>
</thead>
</table>

<tbody>
    <table border="1">
        <tr>
                <td>
                <b>Estado Civil </b>
                </td>
                <td>Solteiro</td>
        </tr>
        <tr><td><b>Idade</b></td><td>20 anos</td></tr>
        <tr>
            <td> 
            <b>Endereço</b> 
            </td>
            <td>
            Rua tal, Sarandi - PR
            </td>
        </tr>
        <tr><td><b>Telefone</b></td><td>(44)3264-2051</td></tr>
        <tr><td><b>Objetivo</b></td><td>Fazer um curriculo em HTML usando uma tabela</td></tr>
        <tr><td><b>Formação</b></td><td>Cursando Bacharelado em Letras-inglês<br>Cursando Técnico em Desenvolvimento de Sistemas</td></tr>
        <tr><td><b>Experiência Profissional</b></td><td>Administrador em um fórum phpBB de anime</td></tr>
        <tr><td><b>Qualificações</b></td><td>Inglês Avançado</td></tr>
    </tbody>

</table>